//- index.pug

extends _layout.pug

block head
  title .1
  link(rel="canonical", href="/")

block content
  .container.home
    .glitch
      each val in [1, 2, 3, 4, 5]
        .glitch__img
          svg.logo(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 746 746", role="img")
            title .1 logo
            path.cls-1(d="M348.025,315.714l70.669-47.3q0.548,18.923.556,36.725,0,60.1-2.782,159.146l-4.451,146.9q-2.791,77.9-20.033,117.968Q527.2,703,554.468,684.086q27.258-18.363,35.613-55.646,8.347-40.611,18.92-215.9l7.79-127.428q6.678-108.508,11.686-154.694,9.454-90.145,9.459-100.161V15.23Q579.51,44.73,522.751,77.552,433.714,129.3,307.4,195.52l-8.9,151.912q12.234-6.678,49.525-31.718h0Z")
            path.cls-1(d="M135.4,535.646q-9.939,79.8-.866,124.519,6.856,33.807,51.763,53.662,44.244,19.412,86.787,10.789,35.993-7.3,43.441-37.766,6.567-31.992-1.22-129.207-95.491-.516-179.9-22h0Z")
